###############################################################################
### Common Ignored files ######################################################
###############################################################################

log
/logs
*.log
*.class
*.jar
*.patch
target

# OS
**/.DS_Store

###############################################################################
### Temporary files ###########################################################
###############################################################################

*~
doc/**/*.working
**/generated
**/generated_tests


###############################################################################
### Build information files ###################################################
###############################################################################

**/build-info.json


###############################################################################
### Project files (IDE, Build Systems, etc.) ##################################
###############################################################################

# Idea IDE
.idea/
*.iws
*.ipr
*.iml

# Eclipse IDE
.classpath
.project
.settings/

# Gradle Build System
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/
out/
!front/build/
classes/
data/

# libs exclusion
!libs/*
!**/liquibase/**/*.jar
/META-INF/persistence.xml
/presentation/*.http
/presentation/*.env.json

